<mat-card style="font-family: 'Segoe UI'; font-weight: bold; font-size: large; color: darkslategrey;">
    <div fxLayout="row">
        <div fxFlex="30">Logo</div>
        <div fxFlex fxLayoutAlign="space-evenly center">
            
            <span style="font-weight: normal; font-size: smaller; font-weight: bold;">
                <mat-icon>home</mat-icon> 
                <span style=" position: relative; top: -5px; padding-left: 5px;">Home</span> 
            </span>

            <span style="font-weight: normal; font-size: smaller; font-weight: bold;">
                <mat-icon>format_list_bulleted</mat-icon>
                <span style=" position: relative; top: -5px; padding-left: 5px;">List</span>
            </span>

            <span style="font-weight: normal; font-size: smaller; font-weight: bold;">
                <mat-icon>escalator</mat-icon>
                <span style=" position: relative; top: -5px; padding-left: 5px;">Escalation</span>
            </span>

            <span style="font-weight: normal; font-size: smaller; font-weight: bold;">
                <mat-icon>settings</mat-icon>
                <span style=" position: relative; top: -5px; padding-left: 5px;">Settings</span>
            </span>
            
            <span style="font-weight: normal; font-size: smaller; font-weight: bold;">
                <mat-icon>account_circle</mat-icon> 
                <span style=" position: relative; top: -5px; padding-left: 5px;">Account</span>
            </span>
        </div>
    </div>
</mat-card>
